.search-list{
    width: 250px;
    padding: 10px;
}
.list-column{
    display: inline-block;
    width: 100px;
    line-height: 25px;
    vertical-align: middle;
}
.list-column.no-stocked{
    color: red;
}
.product-list-header .list-column{
    font-weight: bold;
}
.product-item-header{
    line-height: 28px;
    font-weight: bold;
}
.hide{
    display: none !important;
}